<img src="/static/imgs/01-indexImgs/-(6).jpg" title="-(6).jpg" alt="-(6).jpg" class="showImg" />
<ul class="footer-list">
	<li><a href="##">帮助中心</a>|</li>
    <li><a href="##">关于我们</a>|</li>
    <li><a href="##">元祖服务</a>|</li>
    <li><a href="##">人才招聘</a>|</li>
    <li><a href="##">联系我们</a>|</li>
    <li><a href="##">元祖会员</a></li>
</ul>
<p>版权所有 @ 2015 上海元祖梦果子股份有限公司 沪ICP备17013537号
	<a href="##"><img src="/static/imgs/01-indexImgs/organ.png"/> 沪公网安备 31011802001203号</a>
</p>
<a href="##"><img src="/static/imgs/01-indexImgs/5.jpg" class="business-licence" /></a>
 <!-- 右边黑色侧边栏 -->
 <div class="footer-options" id="footer-options">
 	<ul id="footerSlide">
 		<li class="btn-backtop"> 
 			<a href="##">	
	 			<span></span>	
	 			<em>返回顶部</em>
 			</a>
 		</li>
 		<li class="btn-sales">
 		 	<a href="##">
 		 	    <span></span>		
 				<em>最新活动</em> 
 			</a>			
 		</li>
       <li class="btn-cart" id="btnCart">
       	     <a href="##">
                <strong></strong>        	
        	    <i>购物车</i>
 				<span></span>
 			  </a>
 		</li>
 		<li class="btn-collect">
 		   <a href="##">
 		        <span></span>	 				
 				<em>我的收藏</em>
 		   </a>
 		</li>
 	</ul>
 </div>