        <div class="header-top">
			<span class="ecshop" id="ecshop">
				<img src="/static/imgs/01-indexImgs/icon_phone.png" />
				微商城				
			</span>
			<div class="icon_ewm" id="icon_ewm">
				<img src="/static/imgs/01-indexImgs/-20180628113448.jpg" title="二维码.jpg" alt="二维码.jpg">
			</div>
			 <!--scshop end-->
			<a href="https://weibo.com/gansofood" class="weibo" target="_blank">
				<span>
					<img src="/static/imgs/01-indexImgs/icon_sina.png" />
					官方微博
				</span>
            </a>
            <!--weibo end-->
            <a href="http://www.ganso.com.tw/" class="taiwan" target="_blank">
            	<span>
            		<img src="/static/imgs/01-indexImgs/icon_tw.png"/>
            		台湾元祖
            	</span>
            </a>
            <!--tw end-->
            <ul id="smallNav">
            	<li><a href="/html/login.html" id="login_register">登录/注册</a><span></span></li>
            	<li><a href="javascript:;">会员中心</a></li>
            	<li><a href="javascript:;">购物车</a></li>
            	<li><a href="javascript:;">元祖门店</a></li>
            	<li><a href="javascript:;">帮助中心</a></li>
            </ul>           
		</div>
		 <!--春节-->
	    <a href="##">
	        <img src="/static/imgs/01-indexImgs/-120090.jpg" title="春节.jpg" alt="春节.jpg">
	    </a>
	     <!--LOGO-search-->
        <div class="srh" id="srh">
        	<h1>
        		<a href="##">
        			<img src="/static/imgs/01-indexImgs/15769-LOGO.png" title="官网LOGO.png" alt="官网LOGO.png">
        		</a>        
        	</h1>        	
    		<form class="input-Infor">
    			<input type="text" name="" class="srh_tex" id="srh_tex" value="请输入搜索名称">
    		    <button type="submit" class="btn-sub">搜索</button>
    		</form> 
        	<p class="hot-srh">
    			热门搜索：
    			<a href="##">MUCH蛋糕</a>
    			<a href="##">精致西点</a>
        	</p>
        	<img src="/static/imgs/01-indexImgs/4001103737.jpg" title="客服热线.png" alt="客服热线.png" class="hot-line">
        </div>
		 <!--nav-->
		<nav>
		    <div class="mall-title" id="mall_title">全部商品分类</div>
		    <div class="list-All" id="list_All">
                <ul>
                    <li>
                        <p><a href="/html/pagination1-happyYear.html">新黏快乐</a></p>
                        <span><a href="##">新年礼盒</a></span>
                        <span><a href="##">专款蛋糕</a></span>
                        <span><a href="##">纸质提货券</a></span>
                        <span><a href="##">电子提货券</a></span>
                    </li>
                    <li>
                        <p><a href="##">元祖补冬季</a></p>
                        <span><a href="##">冬季礼盒</a></span>
                        <span><a href="##">补冬蛋糕</a></span>                        
                    </li>
                    <li>
                        <p><a href="##">MUCH蛋糕</a></p>
                        <span><a href="##">鲜奶蛋糕</a></span>
                        <span><a href="##">巧克力蛋糕</a></span>
                        <span><a href="##">慕思蛋糕</a></span>
                        <span><a href="##">多层蛋糕</a></span>
                    </li>
                    <li>
                        <p><a href="##">元祖礼盒</a></p>
                        <span><a href="##">水果礼盒</a></span>
                        <span><a href="##">糕点蛋糕</a></span>
                    </li>
                    <li>
                        <p><a href="##">精致西点</a></p>
                        <span><a href="##">小慕思类</a></span>
                        <span><a href="##">西点卷类</a></span>
                        <span><a href="##">麻薯类</a></span>
                        <span><a href="##">其他</a></span>
                    </li>
                    <li>
                        <p><a href="##">元祖卡券</a></p>
                        <span><a href="##">礼卡</a></span>
                        <span><a href="##">水果券</a></span>
                        <span><a href="##">西点券</a></span>
                        <span><a href="##">蛋糕券</a></span>
                        <span><a href="##">电子券</a></span>
                    </li>
                </ul> 
            </div>
		    <ul>
		        <li><a href="/index.html" title="元祖商城">元祖商城</a></li>
				<li><a href="##" title="品牌故事">品牌故事</a></li>
				<li><a href="##" title="企业试吃">企业试吃</a></li>
				<li><a href="##" title="启蒙乐园">启蒙乐园</a></li>
				<li><a href="##" title="联系我们">联系我们</a></li>
		    </ul>
		</nav>
       
        