html, body {
    height: 100%;width:100%;background:#f9f9f9;font-size:12px;  
    box-sizing: border-box;  
}
body,div,p,i,em,h1,h2,h3,h4,form,ul,li,dl,dt,dd,ol,img,a,span,strong,b,input,label{ margin: 0;padding: 0;}
ol li, ul li{list-style: none;}
em ,i,strong{font-style:normal;font-weight: normal;}
span{display:inline-block;}
a{text-decoration: none;color: black;}
