.goodsAside{width:170px;margin-bottom:32px;
     .imageAside{width:170px;height:170px;img{width:100%;height:100%;}}
     .asidePrice{height:27px;line-height:27px;text-align: right;display:block;
     	font-weight:bold;color:#e70050;}
     	}