@import "./component/base.scss";
@import "./component/footer.scss";
@import "./component/header.scss";
main{width:1200px;margin:0 auto;a:hover{color: #dc0330;}
  .main-catalog{height: 46px;line-height: 46px;}
  .activities{height: 420px;height: 600px; margin: 0 auto 50px;position: relative;
    border-bottom: 2px solid grey;
       img{width:1200px;height: 380px;position: absolute;top:10px;}}
       .tasteTerm{position: absolute;line-height:23px;width:450px;text-align:left;left:100px;top:418px;
        font-size: 14px;
        li:first-child{font-size: 16px;font-weight: bold;}
        li:nth-child(2){font-size: 16px;}
       }
       .applicate{width:360px;position: absolute;left:630px ;top:437px;line-height: 23px;
       font-size: 14px;
        li:first-child{font-size: 16px;}
        li:nth-child(3),span{font-size: 16px;color: #8c5cb2;font-weight: bold;}
        li:nth-child(3),li:last-child{padding-left: 20px;} }
        .styleOne{font-size: 16px;text-align: center;font-weight: bold;line-height: 10px;}
        .userInformation{width:1140px;height: 500px;margin: 0 auto;border:2px dashed #cacaca;
         font-size: 14px;margin-top: 20px;
           .userTable{width:1066px;height: 460px;margin: 0 auto;text-align: left;
             table{height: 430px;
             .inputClass{width:310px;height: 30px;border:none;border-radius: 3px;border:1px solid #7a7373;
               font-size: 13px;color:#5d5d5d;padding-left: 5px;}
               .black{display: block;width:248px;height: 55px;background-color: #8c5cb2;border-radius: 3px;}
            .apply{line-height: 55px;display: block;font-size: 22px;letter-spacing: 5px;color:#fff;cursor: pointer;}}} 
        
        }
}
